<!DOCYTPE html>
<html>
    <head>
        <link rel="stylesheet" href="../dist/style.css">
        <link rel="stylesheet" href="../dist/style_tablet.css">
        <link rel="stylesheet" href="../dist/style_desktop.css">
    </head>
    <body>
        <section class="header-container">
            <div class="container">
                <div class="header">
                    <div class="menu-mobile mobile"></div>
                    <div class="logo">
                        <img src="../src/assets/images/header/logo.png" alt="MERLIN'S POTION">
                    </div>
                    <div class="header-search">
                        <input type="text">
                    </div>
                    <div class="shipping">
                        <span>Free Shipping</span>
                        <span>on orders over $50</span>
                    </div>
                    <div class="bag">
                        <img src="../src/assets/images/header/bag.png" alt="your bag" title="your bag">
                        <span>
                            BAG:
                            <b> 0</b>
                        </span>
                    </div>
                    <div class="shipping-mobile mobile">
                        <span>Free shipping on orders over $50</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="menu-container">
            <div class="container">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="/potions">
                                Potions
                            </a>
                        </li>
                        <li>
                            <a href="/ingrediets">
                                Ingrediets
                            </a>
                        </li>
                        <li>
                            <a href="/books">
                                Books
                            </a>
                        </li>
                        <li>
                            <a href="/supplies">
                                Supplies
                            </a>
                        </li>
                        <li>
                            <a href="/charms">
                                Charms
                            </a>
                        </li>
                        <li class="last">
                            <a href="/clearance">
                                Clearance!
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="forms-links">
                    <span>
                        <a href="/login">Sign in</a>
                    </span>
                    <span>or</span>
                    <span>
                        <a href="/signup">Sign up</a>
                    </span>
                </div>
            </div>

        </section>
        <section class="shelf-container">
            <div class="container">

                <h1 class="shelf-tile">
                    
                </h1>
                <div id="recebe-potions">
                    <div class="spot" data-id=''>
                        <img src="../src/assets/images/products/" alt="">
                        <span class="title"></span>
                        <span class="price"></span>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="links-footer">
                    <div class="institutional-links">
                        <a href="/institutional/company">company</a>
                        <a href="/institutional/returns">returns</a>
                        <a href="/institutional/contact-us">contact us</a>
                        <a href="/institutional/carrers">carrers</a>
                        <a href="/institutional/shipping">shipping</a>
                    </div>
                    <div class="social-media">
                        <a href="" class="facebook">
                            <img src="../src/assets/images/footer/face.png" alt="facebook-logo">
                        </a>
                        <a href="" class="twitter">
                            <img src="../src/assets/images/footer/twitter.png" alt="twitter-logo">
                        </a>
                        <a href="" class="pinterest">
                            <img src="../src/assets/images/footer/pinterest.png" alt="pinterest-logo">
                        </a>
                        <a href="" class="tumblr">
                            <img src="../src/assets/images/footer/tumblr.png" alt="tumblr-logo">
                        </a>
                        <a href="" class="g-plus">
                            <img src="../src/assets/images/footer/g-plus.png" alt="g-plus-logo">
                        </a>
                    </div>
                </div>
                <div class="newsletter">
                    <span class="news-title">
                        Sign up for our Newsletter
                    </span>
                    <span class="news-offer">
                        Sign up for our newsletter & get exclusive discounts!
                    </span>
                    <form>
                        <input type="email" placeholder="Enter your email">
                        <button type="submit">SUBMIT</button>
                    </form>
                </div>
                <div class="disclaimer">
                    <span>&copy; 2015 Merlin's Potions, All Rights Reserved</span>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="../arquivos/default.js" ></script>
        </footer>
    </body>

</html>