@media only screen and (min-width: 768px)
    html
        font-size: 15px
    .container
        width:95%
        max-width:900px
    .mobile
        display:(none!important)
    .lightbox 
        padding: 40px 20px
        max-height: 700px
        .close
            float: right
        img.potion-img
            float: left
            max-width: 100%
            width: 65%
            display: inline-block
        .info-container
            display: inline-block
            float: left
            width: 34%
    .header 
        .bag
            img, span
                display: inline-block
                vertical-align: middle
    .menu
        ul
            padding-left: 10px
    .shelf-container
        #recebe-potions
            .spot
                width: 30%
                margin-bottom: 50px


    footer
        .links-footer,.newsletter
            display: inline-block
            width: 40%
        .social-media
            width: 76%
        .newsletter
            padding: 25px
            font-size: 1.2rem
        

   