

html
    font-size: 16px
    font-family: 'Josefin Slab', serif
    *
        box-sizing: border-box
body
    margin: (0!important)
a
    text-decoration: none
    color: #fff
img
    max-width: 100%
    height: auto
    display: block
button
    border: 0
    color: #fff
    background-color: #e13a1e
    padding: 10px
    border-radius: 5px
    font-size: 1rem
    cursor: pointer



section, footer 
    width: 100%
.container 
    display: block
    margin: 0 auto
    max-width: 95%
.flexbox
    display: flex
    flex-wrap: wrap
    justify-content: space-between
#modal
    display: none
    position: fixed
    height: 100%
    width: 100%
    background-color: #000
    opacity: 0.8
    z-index: 98

.lightbox 
    display: none
    width: 95%
    padding: 20px
    max-width: 950px
    min-width: 310px
    height: auto
    max-height: 90%
    position: fixed
    left: 50%
    top:50%
    transform: translate(-50%, -50% ) 
    z-index: 99   
    background-color: #ffffff
    font-family: "Times new Roman", serif
    .close
        cursor: pointer
        text-align: right
        margin-bottom: 15px
        &:before
            font-family: arial
            content: 'X'
            padding: 3px
    img.potion-img 
        width: 70%
        min-width: 315px
        height: auto
        vertical-align: middle
    .info-container
        width: 100%
        vertical-align: middle
        .effect
            b
                display: block
                margin-bottom: 20px
        .ingredients
            ul
                padding: 0
                list-style-type: none
        .price
            font-size: 1.3rem
            span 
                display: block
                color: #e13a1e
                font-weight: bold
                margin-bottom: 20px
.header-search
        width: 30%
        input 
            border-radius: 5px
            padding: 10px
            padding-left: 50px
            width: 100%
            background: url('../src/assets/images/header/lupa.png') no-repeat 20px center
            border: 1px solid #000
.header
    padding: 20px 0
    > div
        display: inline-block
    .header-search
        width: 30%
        input 
            border-radius: 5px
            padding: 10px
            padding-left: 50px
            width: 100%
            background: url('../src/assets/images/header/lupa.png') no-repeat 20px center
            border: 1px solid #000
    .shipping
        width: 150px
        span
            color: #e13a1e
            font-weight: 600
            text-align: center
            font-style: italic
            &:first-child 
                font-size: 1.3rem
            &:last-child 
                font-size: 1rem
    .bag
        font-family: "roboto", sans-serif
        img, span
            display: inline-block
            vertical-align: middle
        span
            margin-left: 15px
            font-weight: 600
            opacity: 0.7
            b   
                color: #e13a1e



.menu-container
    background:#523468
    font-weight: 600
    font-style: italic
    &:not(.mobile-menu)
        .header-search
            display: none!important
    .menu
        display: inline-block
        width: 74%
        ul
            margin: 10px 0
        li
            display: inline-block
            padding: 15px
            position: relative
            cursor: pointer
            &.last
                background-color: #422a53
                border-radius: 5px
                &:after
                    content: none!important
            &:after
                content: ""
                display: block
                position: absolute
                right: -10px
                top: 50% 
                width: 0px
                height: 0px
                border: 5px solid transparent
                border-top-color: #fff
    .forms-links
        display: inline-block
        width: 25%
        text-align: right
        span
            color: #ffffff
            &:nth-child(2)
                opacity: 0.4
                margin: 0 10px

.shelf-container
    .shelf-title
        text-transform: capitalize
    #recebe-potions
        .spot
            display: inline-block
            font-family: 'Times New Roman', Times, serif
            width: 49%
            margin-bottom: 30px
            span,strong
                display: inline-block
                font-size: 1.2rem
            > div 
                text-align: center
            .title 
                display: inline-block
                width: auto
                text-align: center
            .price
                color: #e13a1e
        
footer 
    
    padding: 30px 0
    background: #e6e6e6
    .links-footer, .newsletter
        display: block
        width: 100%
        max-width: 550px
        margin: 0 auto
    .institutional-links
        margin-top: 10px
        margin-bottom: 40px
        font-family: sans-serif
        a
            display: inline-block
            color: #e13a1e
            width: 30%
            font-size: 1.2rem
            text-transform: uppercase
            margin-bottom: 10px
    .social-media
        width: 100%
        min-width: 300px
        margin-bottom: 60px
        a
            display: inline-block
    .newsletter
        background: #fff
        border-radius: 10px
        padding: 25px
        font-weight: 600
        font-size: 1.2rem
        > *
            display: block
            width: 100%
        .news-title
            font-style: italic
            margin-bottom: 20px
        .news-offer
            margin-bottom: 15px
        input
            border-radius: 5px
            font-size: 1rem
            padding: 10px
            border: 1px solid #000
            width: 70%
        

    .disclaimer 
        display: block
        width: 100%
        font-family: 'Roboto Condensed', sans-serif
        
@media (max-width: 767px)
    .lightbox
        img.potion-img 
            margin: 0 auto
        .info-container
            .potion-title
                text-align: center
                width: 100%
                margin: 0
            > div
                display: inline-block
                width: auto
                vertical-align: top
                &.ingredients
                    width: 70%
                    ul
                        li
                            display: inline-block
                            width: 49%
                &:last-child
                    width: 27%


    .header .header-search,.header .shipping,.menu-container,
    footer .links-footer .institutional-links
        display: none
    .shipping-mobile
        text-align: center
        font-style: italic
        font-weight: 800
        color: rgba(0,0,0,0.6)
        display: block
        font-size: 1.5rem
        padding: 10px 0
        background-color: #ececec

    .mobile-menu-icon
        padding-top: 7px
        >div 
            width: 35px
            height: 5px
            border-radius: 3px
            background-color: #523468
            margin: 3px 0
    .mobile-menu
        display: block
        overflow: hidden
        width: 0
        max-width: 315px  
        position: fixed
        top: 0
        left: 0
        z-index: 99
        height: 100%
        background-color: #fff
        .fecha-menu-mobile,.header-search
            display: inline-block
            vertical-align: middle
        .fecha-menu-mobile
            background: url(../src/assets/images/header/mobile-close-button.png) center no-repeat
            width: 40px
            height: 40px
            margin-left: 20px
        .header-search
                width: calc(100% - 60px)
                input   
                    padding-left: 30px
                    margin: 20px 15px
                    width: 215px
                    background-position-x: 10px
        .container
            width: 100%
            max-width: none
            background: #523468
        .menu
            width: 100%
            ul
                width: 100%
                padding: 0
                margin: 0
                li
                    display: block
                    width: 100%
                    padding:0 30px
                    a
                        padding: 15px 0
                        display: block
                        width: 80px
                    &:after
                        content: none
                    &.last
                        border-radius: 0
                        a
                            border-bottom: 0.3px solid rgba(255, 255, 255, 0.6)
                            margin-bottom: 1px
                    &:nth-last-child(n+3)
                        border-bottom: 0.3px solid rgba(255, 255, 255, 0.9) 
        .forms-links
            width: 100%
            text-align: center
            font-size: 1.1rem
            padding: 25px 0 20px


    .links-footer
        order: 2
        .social-media
            padding: 30px
            margin-bottom:0
    .newsletter
        width: 100%
        order: 1
    .disclaimer
        order: 3
        width: 100%
        text-align: center
@media (max-width: 419px)
    .lightbox
        .info-container > div
            width: 100%