@media(min-width: 992px)
    html
        font-size: 16px
    .container
        width:95%
        max-width:1200px
    .mobile
        display:(none!important)
    .spot
        width: 26%
        margin-bottom: 100px
@media(min-width: 1280px)
    html
        font-size: 18px
    .container
        width:95%
        max-width:1400px